.controls__skip,
.controls__play {
    float: left;
    display: block;
    width: 17.5%;
    background: #555;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin-top: 50px;
    color: white !important;
}

.controls__skip:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.controls__skip:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.controls__play {
    width: 30%;
}

.controls__play--playing {
    background: black;
}

.controls__speed a {
    margin-top: 15px;
    float: left;
    display: block;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

.controls__speed a.checked {
    font-weight: bold;
}